{% extends "base.html" %}
{% load staticfiles %}

{% block bodytag %}
<body style="background-image:url({% static 'img/about_us.jpg' %}); background-size: cover;" >
{% endblock %}

{% block masthead %}
<div class="inner">
  <h3 class="masthead-brand">Lets-Read@IITBHU</h3>
  <nav>
    <ul class="nav masthead-nav">
      <li ><a href="\">Home</a></li>
      <li class="active"><a href="\about_us">About Us</a></li>
      <li><a href="\login">Login</a></li>
    </ul>
  </nav>
</div>
{% endblock %}

{% block inner_cover %}
{% endblock %}