{% extends "dashboard_base.html" %}

{% block sidebar %}

<div class="col-sm-3 col-md-2 sidebar">  
	<ul class="nav nav-sidebar">
	  <li ><a href="/dashboard">Overview <span class="sr-only">(current)</span></a></li>
	  <li><a href="/view_books">All Books</a></li>
	  <li class="active"><a href="">My Books</a></li>
	    <ul>
	      <li><a href="/current_issued">Currently Issued</a></li>
	      <li><a href="/all_issued">All Issued</a></li>
	    </ul>
	</ul>
</div>

{% endblock %}

{% block table %}
{% block tablehead %}<h2 class="sub-header">Currently Issued </h2> {% endblock %}
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Book</th>
          <th>Copy</th>
          <th>Issue Date</th>
          <th>Due Date</th>
          <th>Return Date</th>
        </tr>
      </thead>
      <tbody>
    	{% for d in issued %}
	  		<tr>
					<td> {{ d.book_id}} </td>
					<td> {{ d.copy_id }} </td>
		      <td> {{ d.issue_date|date:"Y-m-d" }} </td>
	        <td> {{ d.due_date|date:"Y-m-d" }} </td>
	        <td> {{ d.return_date|date:"Y-m-d" }} </td>
	    	</tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}

{% block images %}
{% endblock %}