{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>{% block title %}Overview{% endblock %} | LetsRead@IITBHU </title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
    <link href="{% static 'css/jquery-ui.css' %}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>
    -->
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/dashboard">LetsRead@IITBHU</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/dashboard">Dashboard</a></li>
            <!-- <li><a href="#">Settings</a></li> -->
            <li><a href="#">Profile</a></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
<!--           <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form> -->
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        {% block sidebar %}
          {% if is_admin %}
          <div class="col-sm-3 col-md-2 sidebar">  
            <ul class="nav nav-sidebar">
              <li class="active"><a href="/dashboard">Overview <span class="sr-only">(current)</span></a></li>
              <li><a href="/view_books">Books</a></li>
                <ul>
                  <li><a href="/add_book">Add a book</a></li>
                  <li><a href="/add_book_copy">Add a book copy</a></li>
                </ul>
              <li><a href="/view_members">Members</a></li>
                <ul>
                  <li><a href="/add_member">Add a member</a></li>
                </ul>
              <li><a href="/view_publishers">Publishers</a></li>
                <ul>
                  <li><a href="/add_publisher">Add a publisher</a></li>
                </ul>
              <li><a href="/view_authors">Authors</a></li>
                <ul>
                  <li><a href="/add_author">Add a author</a></li>
                </ul>
              <li><a href="/view_categories">Categories</a></li>
                <ul>
                  <li><a href="/add_category">Add a category</a></li>
                </ul>
              <li><a href="/view_compiled_by">Compiled by</a></li>
                <ul>
                  <li><a href="/add_compiled_by">Add book author and publisher info</a></li>
                </ul>
              <li><a href="/view_book_categories">Book & Categories</a></li>
                <ul>
                  <li><a href="/add_has_category">Add book and category info</a></li>
                </ul>
              <li><a href="/view_history">View History</a></li>
            </ul>
            <ul class="nav nav-sidebar">
              <li><a href="/issue_book">Issue a Book</a></li>
              <li><a href="/return_book">Return a Book</a></li>
              <li><a href="/view_due">View Due Books</a></li>
            </ul>
          </div>
          {% else %}
          <div class="col-sm-3 col-md-2 sidebar">  
            <ul class="nav nav-sidebar">
              <li class="active"><a href="/dashboard">Overview <span class="sr-only">(current)</span></a></li>
              <li><a href="/view_books">All Books</a></li>
              <li><a href="/my_books">My Books</a></li>
                <ul>
                  <li><a href="/current_issued">Currently Issued</a></li>
                  <li><a href="/all_issued">All Issued</a></li>
                </ul>
            </ul>
          </div>
          {% endif %}
        {% endblock %}

        
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          {% block main %}

          {% block images %}
          <h1 class="page-header">Dashboard</h1>

          <div class="row placeholders">
            {%if is_admin %} <a href="/issue_book"> {% else %} <a href="/view_books">  {% endif %}
              <div class="col-xs-6 col-sm-4 placeholder">
                <img src="{% static 'img/cover_try2.jpg' %}" class="img-responsive" alt="Generic placeholder thumbnail">
                {% if is_admin %} <h4>Issue a Book</h4> {% else %} <h4>All Books</h4> {% endif %}            
                <!-- <span class="text-muted">Something else</span> -->
              </div>
            </a>
            {%if is_admin %} <a href="/return_book"> {% else %} <a href="/current_issued">  {% endif %}
              <div class="col-xs-6 col-sm-4 placeholder">
                <img src="{% static 'img/cover_try4.jpg' %}" class="img-responsive" alt="Generic placeholder thumbnail">
                {% if is_admin %} <h4>Return a book </h4> {% else %} <h4>Currently Issued </h4> {% endif %}
                <!-- <span class="text-muted">Something else</span> -->
              </div>
            </a>
            {%if is_admin %} <a href="/view_due"> {% else %} <a href="/all_issued">  {% endif %}
              <div class="col-xs-6 col-sm-4 placeholder">
                <img src="{% static 'img/cover_try2.jpg' %}" class="img-responsive" alt="Generic placeholder thumbnail">
                {% if is_admin %} <h4>View Due </h4> {% else %} <h4>All Issued </h4> {% endif %}
                <!-- <span class="text-muted">Something else</span> -->
              </div>
            </a>
          </div>
          {% endblock %}
          {% block table %}
          <!-- <h2 class="sub-header">Table</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Header</th>
                  <th>Header</th>
                  <th>Header</th>
                  <th>Header</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1,001</td>
                  <td>Lorem</td>
                  <td>ipsum</td>
                  <td>dolor</td>
                  <td>sit</td>
                </tr>
              </tbody>
            </table>
          </div> -->
          {% endblock %}
        </div>
        {% endblock %}
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>
    <script src="{% static 'js/jquery-ui.js' %}"></script>

  </body>
  {% block script %}
  {% endblock %}
</html>
