{% extends "dashboard_base.html" %}

{% load crispy_forms_tags %}

{% block main %}

<h1 class="page-header">Issue Book</h1>

<form method='POST' class='uniForm' action=''>{% csrf_token %}
	
	{{ form|crispy }}

<input type='submit' value='Issue'>

</form>

{% endblock %}

{% block sidebar %}
    <div class="col-sm-3 col-md-2 sidebar">  
      <ul class="nav nav-sidebar">
        <li ><a href="/dashboard">Overview <span class="sr-only">(current)</span></a></li>
        <li ><a href="/view_books">Books</a></li>
          <ul>
            <li><a href="/add_book">Add a book</a></li>
            <li><a href="/add_book_copy">Add a book copy</a></li>
          </ul>
        <li><a href="/view_members">Members</a></li>
          <ul>
            <li><a href="/add_member">Add a member</a></li>
          </ul>
        <li><a href="/view_publishers">Publishers</a></li>
          <ul>
            <li><a href="/add_publisher">Add a publisher</a></li>
          </ul>
        <li ><a href="/view_authors">Authors</a></li>
          <ul>
            <li><a href="/add_author">Add a author</a></li>
          </ul>
        <li ><a href="/view_categories">Categories</a></li>
          <ul>
            <li><a href="/add_category">Add a category</a></li>
          </ul>
        <li><a href="/view_compiled_by">Compiled by</a></li>
          <ul>
            <li><a href="/add_compiled_by">Add book author and publisher info</a></li>
          </ul>
        <li><a href="/view_book_categories">Book & Categories</a></li>
          <ul>
            <li><a href="/add_has_category">Add book and category info</a></li>
          </ul>
        <li><a href="/view_history">View History</a></li>
      </ul>
      <ul class="nav nav-sidebar">
        <li class="active"><a href="/issue_book">Issue a Book</a></li>
        <li><a href="/return_book">Return a Book</a></li>
        <li><a href="/view_due">View Due Books</a></li>
      </ul>
    </div>
{% endblock %}

{% block script %}

  <script>
    $(function() {
      $( "#id_issue_date" ).datepicker({
        changeMonth: true,
        changeYear: true,
        minDate: 0
        // You can put more options here.
      });
    });
    $(function() {
      $( "#id_due_date" ).datepicker({
        changeMonth: true,
        changeYear: true,
        minDate: 0
        // You can put more options here.
      });
    });
  </script>

<!--
<script>
  document.getElementById('id_copy_id').innerHTML = '';
  document.getElementById('id_book_id').onchange=function()
  {
    var val=document.getElementById('id_book_id').value;
    if(val)
    {
      // alert(document.getElementsByName('csrfmiddlewaretoken')[0].value);
      $.post('http://127.0.0.1:8000/get_copy_id/',{csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value, book_id: val})
      .done(function(data)
      {
        var html='';
        // alert(data.copy[0].copy_id);
        for(i=0; i<data.copy.length; i++)
          html+="<option value="+data.copy[i].copy_id+">"+data.copy[i].book_id__name+" "+data.copy[i].copy_id+"</option>";
          document.getElementById('id_copy_id').innerHTML = html;
      });
    }
  }
</script>
-->
{% endblock %}