{% extends "view_history.html" %}

{% block delete %}
  <td>
    <form method='POST' class'uniForm' action=''>{% csrf_token %}
      <input type='hidden' name='return_id' value='{{ d.book_id.book_id }}@{{ d.copy_id.copy_id }}@{{ d.member_id.member_id }}@{{ d.issue_date|date:"Y-m-d" }}'>
      <input type='submit' value='Return'>
    </form>
  </td>
{% endblock %}

{% block tablehead %}
<h2 class="sub-header">Return Books</h2>
{% endblock %}

{% block sidebar %}
    <div class="col-sm-3 col-md-2 sidebar">  
      <ul class="nav nav-sidebar">
        <li ><a href="/dashboard">Overview <span class="sr-only">(current)</span></a></li>
        <li ><a href="/view_books">Books</a></li>
          <ul>
            <li><a href="/add_book">Add a book</a></li>
            <li><a href="/add_book_copy">Add a book copy</a></li>
          </ul>
        <li><a href="/view_members">Members</a></li>
          <ul>
            <li><a href="/add_member">Add a member</a></li>
          </ul>
        <li><a href="/view_publishers">Publishers</a></li>
          <ul>
            <li><a href="/add_publisher">Add a publisher</a></li>
          </ul>
        <li><a href="/view_authors">Authors</a></li>
          <ul>
            <li><a href="/add_author">Add a author</a></li>
          </ul>
        <li><a href="/view_categories">Categories</a></li>
          <ul>
            <li><a href="/add_category">Add a category</a></li>
          </ul>
        <li><a href="/view_compiled_by">Compiled by</a></li>
          <ul>
            <li><a href="/add_compiled_by">Add book author and publisher info</a></li>
          </ul>
        <li ><a href="/view_book_categories">Book & Categories</a></li>
          <ul>
            <li><a href="/add_has_category">Add book and category info</a></li>
          </ul>
        <li ><a href="/view_history">View History</a></li>          
      </ul>
      <ul class="nav nav-sidebar">
        <li><a href="/issue_book">Issue a Book</a></li>
        <li class="active"><a href="/return_book">Return a Book</a></li>
        <li><a href="/view_due">View Due Books</a></li>
      </ul>
    </div>
{% endblock %}