{% extends "dashboard_base.html" %}

{% block sidebar %}
  {% if is_admin %}
    <div class="col-sm-3 col-md-2 sidebar">  
      <ul class="nav nav-sidebar">
        <li ><a href="/dashboard">Overview <span class="sr-only">(current)</span></a></li>
        <li class="active"><a href="/view_books">Books</a></li>
          <ul>
            <li><a href="/add_book">Add a book</a></li>
            <li><a href="/add_book_copy">Add a book copy</a></li>
          </ul>
        <li><a href="/view_members">Members</a></li>
          <ul>
            <li><a href="/add_member">Add a member</a></li>
          </ul>
        <li><a href="/view_publishers">Publishers</a></li>
          <ul>
            <li><a href="/add_publisher">Add a publisher</a></li>
          </ul>
        <li><a href="/view_authors">Authors</a></li>
          <ul>
            <li><a href="/add_author">Add a author</a></li>
          </ul>
        <li><a href="/view_categories">Categories</a></li>
          <ul>
            <li><a href="/add_category">Add a category</a></li>
          </ul>
        <li><a href="/view_compiled_by">Compiled by</a></li>
          <ul>
            <li><a href="/add_compiled_by">Add book author and publisher info</a></li>
          </ul>
        <li><a href="/view_book_categories">Book & Categories</a></li>
          <ul>
            <li><a href="/add_has_category">Add book and category info</a></li>
          </ul>
        <li><a href="/view_history">View History</a></li>          
      </ul>
      <ul class="nav nav-sidebar">
        <li><a href="/issue_book">Issue a Book</a></li>
        <li><a href="/return_book">Return a Book</a></li>
        <li><a href="/view_due">View Due Books</a></li>
      </ul>
    </div>
  {% else %}
    <div class="col-sm-3 col-md-2 sidebar">  
      <ul class="nav nav-sidebar">
        <li ><a href="/dashboard">Overview <span class="sr-only">(current)</span></a></li>
        <li class="active"><a href="/view_books">All Books</a></li>
        <li><a href="/my_books">My Books</a></li>
          <ul>
            <li><a href="/current_issued">Currently Issued</a></li>
            <li><a href="/all_issued">All Issued</a></li>
          </ul>
      </ul>
    </div>
  {% endif %}
{% endblock %}

{% block images %}
{% endblock %}

{% block table %}

	<h2 class="sub-header">Books</h2>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Book ID</th>
            <th>Name</th>
            <th>ISBN NO</th>
            <th>Rating</th>
            <th>No of Copies</th>
          </tr>
        </thead>
        <tbody>
        	{% for d in book %}
        		<tr>
  					<td> {{ d.book_id}} </td>
  					<td> {{ d.name }} </td>
  					<td> {{ d.isbn_no }} </td>
  					<td> {{ d.rating }} </td>
  					<td> {{ d.no_of_copies }} </td>
            {% block delbook %}
            {% if is_admin %}
            <td>
              <form method='POST' class'uniForm' action=''>{% csrf_token %}
                <input type='hidden' name='del_book_id' value='{{ d.book_id }}'>
                <input type='submit' value='Delete'>
              </form>
            </td>
            {% else %}
            <td>
              <form method='POST' class'uniForm' action=''>{% csrf_token %}
                <input type='hidden' name='req_book' value='{{ d.book_id }}'>
                <input type='submit' value='Request'>
              </form>
            </td>
            {% endif %}
            {% endblock %}
  					</tr>
				  {% endfor %}
        </tbody>
      </table>
    </div>

  <h2 class="sub-header">Book Copies</h2>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Book</th>
            <th>Copy ID</th>
            <th>Availability</th>
            <th>ETA</th>
            <th>Date of Addition</th>
            <th>Donor</th>
          </tr>
        </thead>
        <tbody>
          {% for d in bookcopy %}
          <tr>
            <td> {{ d.book_id }} </td>
            <td> {{ d.copy_id }} </td>
            <td> {{ d.availability }} </td>
            <td> {{ d.ETA}} </td>
            <td> {{ d.date_of_addition }} </td>
            <td> {{ d.donor_id }} </td>
            {% block delcopy %}
            {% if is_admin %}
              <td>
              <form method='POST' class'uniForm' action=''>{% csrf_token %}
                <input type='hidden' name='del_bookcopy_id' value='{{ d.book_id.book_id }}@{{ d.copy_id }}'>
                <input type='submit' value='Delete'>
              </form>
              </td>
            {% else %}
              <td>
              <form method='POST' class'uniForm' action=''>{% csrf_token %}
                <input type='hidden' name='req_bookcopy' value='{{ d.book_id.book_id }}@{{ d.copy_id }}'>
                <input type='submit' value='Request'>
              </form>
              </td>
            {% endif %}
            {% endblock %}
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
{% endblock %}